<span class="pop glyphicon {{ icon }}"
   tabindex="0"
   data-toggle="popover"
   title="{{ title }}"
   data-html="{{ html }}"
   data-trigger="focus"
   data-placement="{{ placement }}"
   data-content="{{ content }}"></span>